
<!--
<a href="/signup" class="button">SignUp</a>
<h2>login</h2>

<form action="/login" method="post">
    <label><b>Name</b></label> <br>
    <input type="text" name="username"><br>
    <label><b>Password</b></label><br>
    <input type="text" name="password"><br>
    <input type="submit" class="btn btn-primary" style="width: 350px" value="Submit">
    <br><br>
</form>
-->
<!--
<form action="/signup" method="post">
    <label><b>Name</b></label> <br>
    <input type="text" name="username"><br>
    <label><b>Password</b></label><br>
    <input type="text" name="password"><br>
    <input type="submit" class="btn btn-primary" style="width: 350px" value="Submit">
    <br><br>
</form>
-->
<div conatiner="fluid" style="margin: 80px">
            <div class="mv">
                <div class="upper">
                    <h2 style="text-align: center; font-size: 70px; margin-top: 30px"><bold>Details</bold></h2>
                </div>
                <form action="/address/detail" method="post" class="form">
                    <label><b>Address</b></label> <br>
                    <input type="text" name="address" placeholder="House No" ><br>
                    <label><b>Pincode</b></label><br>
                    <input type="text" name="pincode" placeholder="110063" required autofocus><br>
                    <label><b>State</b></label><br>
                    <input type="text" name="state" placeholder="Chandigarh" required autofocus><br>
                    <input type="submit" class="btn user" style="width: 350px; border: 2px solid firebrick;" value="Submit">
                    <br>
                </form>
            </div>
</div>
