<br>
<h1 style=" text-align:center; height:75px; background: firebrick; color: ghostwhite; font-size: 50px;" >Your Cart</h1>
<a href="catalog.html" type="button" class="btn user mv " style="margin: 30px; width:300px;">Product Catalogue</a>
<!-- glyphions not working to check-->

<div class="container">
    <table class="table table-hover">
        <thead style=" color: firebrick ">
        <tr>
            <th>S.NO.</th>
            <th>name</th>
            <th>vendor</th>
            <th>tax</th>
            <th>price</th>
            <th>quantity</th>
            <th>total</th>
        </tr>
        </thead>
        <tbody id="bill">
        </tbody>
    </table>
    <div id="navigate">
    </div>
</div>
