

<div conatiner="fluid" style="margin: 80px">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-7">
            <div class="mv">
                <div class="upper">
                    <h2 style="text-align: center; font-size: 50px; margin-top: 50px"><bold>Email Verfication</bold></h2>
                </div>
                    <label><b>Email</b></label> <br>
                    <input type="email" name="email" id="email1" placeholder="email@gmail.com" required autofocus><br>
                <button type="submit"   id="email"  class="btn user" style="width: 350px; border: 2px solid firebrick;">submit</button>
                    <br>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>

