
<div >
    <div>
        <h2>CLOTHING</h2>
        <a href="http://localhost:3210/catalog" class="home" style="margin: 0%; padding: 0px"><img style="width:100%;height:100%;margin:50px" src="https://images.pexels.com/photos/374845/pexels-photo-374845.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"></a>
    </div>
    <div>
        <h2>GROCERY</h2>
        <a href="http://localhost:3210/catalog" class="home"><img style="width:100%;height:80%; margin:50px" src="https://images.pexels.com/photos/811101/pexels-photo-811101.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"></a>
    </div>
    <div>
        <h2>LAPTOPS</h2>
        <br>
        <a href="http://localhost:3210/catalog" class="home"><img style="width:1200px;height:400px"src="https://images-eu.ssl-images-amazon.com/images/G/31/img18/PC/EveryDaylaptops-PC/MainPage/2_template_cg_1500x375_02._CB487105769_.jpg"></a>
    </div>

</div>
