

<div conatiner="fluid" style="margin: 80px">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-7">
            <div class="mv">
                <div class="upper">
                    <h2 style="text-align: center; font-size: 50px; margin-top: 50px"><bold>Reset Password</bold></h2>
                </div>
                <label><b>Username</b></label> <br>
                <input type="text" name="username" id="email2" placeholder="Username" required autofocus><br>
                <button type="submit"  class="btn user"  id="resetpassword"  style="width: 350px; border: 2px solid firebrick;">submit</button>
                <br>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
